<!DOCTYPE html>

<html>
    <head>
        <style>
            body{background-color: aqua;font-family: Georgia, 'Times New Roman', Times, serif}
            h1{font-size: 48px;text-align: center;padding: 3px;color:#fff}
            h2{font-size: 30px;text-align: center;padding: 3px;color:#fff}
            p{font-size: 18px;text-align: center;padding: 3px;color:#0b0b0b}
            li{font-size: 18px;text-align: left;padding: 3px;color:#030303}
        </style>
    </head>

    <body>
        <%- include ('partials/nav.ejs') %>
        
        <h1>THIS IS THE PROFILE PAGE of <%=id%></h1>
        <p><strong>Name: </strong><%=data.name%></p>
        <p><strong>Age: </strong><%=data.age%></p>
        <h2>Hobbies</h2>
        <ul>
            <% data.hobbies.forEach(item=>{ %>
                    <li><%= item %></li>
            <% }) %>
        </ul>
    </body>

</html>